org.json
{
  "name": "org",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=doc_file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        576,
        2144
      ],
      "id": "e1fff853-b69f-4900-8e92-1bbd2665fba4",
      "name": "Extract from File",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "org",
          "mode": "list",
          "cachedResultName": "org"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        832,
        1936
      ],
      "id": "642d47c8-13a1-4e98-99ea-2c51e6f66429",
      "name": "Pinecone Vector Store",
      "disabled": true
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "filename",
                "value": "={{ $('單件上傳文件到RAG向量資料庫').item.json.doc_file.filename }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        928,
        2160
      ],
      "id": "2cbfec0e-dd1c-423f-9939-4c038ab0d27b",
      "name": "Default Data Loader",
      "disabled": true
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1008,
        2368
      ],
      "id": "e831c432-4c66-45e4-a7ee-fa9392276f9e",
      "name": "Recursive Character Text Splitter",
      "disabled": true
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "hi 我是你爸,有問題嗎",
        "options": {
          "showWelcomeScreen": false,
          "subtitle": "",
          "title": "你好兒子"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        512,
        -64
      ],
      "id": "14c4e865-8a31-442b-a9c4-4764fc96f64a",
      "name": "When chat message received",
      "webhookId": "a4df5440-b270-4453-9727-a9eb7a18fbf9"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        800,
        -64
      ],
      "id": "3d4ad5d6-7508-4e7d-968f-95c38e0a4550",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        512,
        368
      ],
      "id": "734a9e7f-cf7d-4b80-b4f1-d72e052642c6",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        864,
        160
      ],
      "id": "2baa5fe5-cd1a-4d90-b02d-388db6e48b46",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "當使用者詢問相關問題時，請搜尋此工具。",
        "pineconeIndex": {
          "__rl": true,
          "value": "org",
          "mode": "list",
          "cachedResultName": "org"
        },
        "topK": 10,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1488,
        0
      ],
      "id": "e3218e50-d28b-4d1f-85d3-cd44487268d1",
      "name": "Pinecone Vector Store1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4",
          "mode": "list",
          "cachedResultName": "AI_Knowledge_Base_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FileName": "={{ $json.doc_file.filename }}",
            "UploadTime": "={{ $now }}",
            "Status": "Active"
          },
          "matchingColumns": [
            "FileName"
          ],
          "schema": [
            {
              "id": "FileName",
              "displayName": "FileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UploadTime",
              "displayName": "UploadTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        2336
      ],
      "id": "6c95c082-ed8d-43ac-91f3-3224584421db",
      "name": "Append or update row in sheet",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4",
          "mode": "list",
          "cachedResultName": "AI_Knowledge_Base_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit#gid=0"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        2672
      ],
      "id": "a3c4264e-8f12-4c9d-bd1a-0907ecb06f67",
      "name": "Get row(s) in sheet",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1024,
        2672
      ],
      "id": "c9f71551-ef45-4d1b-967e-7b904f88f04d",
      "name": "Form",
      "webhookId": "006f023d-682f-47d8-8416-0c3d4dea8b05",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return {\n  file_list: $('Get row(s) in sheet').all().map(item => {\n    return {\n      name: item.json.FileName,\n      value: item.json.FileName\n    };\n  }).filter(i => i.name)\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        2672
      ],
      "id": "29ddcc0c-bac6-433a-ae13-4e30421a3777",
      "name": "Code in JavaScript",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://org-j25gw89.svc.aped-4627-b74a.pinecone.io/vectors/delete",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"namespace\": \"\", \n  \"filter\": {\n    \"filename\": { \n      \"$in\": {{ JSON.stringify($json[\"請勾選要刪除的檔案\"]) }} \n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1248,
        2576
      ],
      "id": "a74df9fc-ed0e-4cbc-a743-8c5e194f9969",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "['請勾選要刪除的檔案']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1248,
        2768
      ],
      "id": "607f024a-5c71-4abc-8732-e4ce52cf9f98",
      "name": "Split Out",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4",
          "mode": "list",
          "cachedResultName": "AI_Knowledge_Base_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "FileName",
              "lookupValue": "={{ $json['[\\'請勾選要刪除的檔案\\']'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        2768
      ],
      "id": "2102aa8c-7499-4017-a881-1d92fcb5e261",
      "name": "Get row(s) in sheet1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4",
          "mode": "list",
          "cachedResultName": "AI_Knowledge_Base_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit#gid=0"
        },
        "startIndex": "={{ $json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2144,
        2768
      ],
      "id": "706fbfd7-6280-465d-861a-23e34470280a",
      "name": "Delete rows or columns from sheet",
      "disabled": true
    },
    {
      "parameters": {
        "batchSize": 10000,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1696,
        2768
      ],
      "id": "0f31c09e-986d-4815-a482-6f36ff6d9139",
      "name": "Loop Over Items",
      "disabled": true
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "row_number",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1920,
        2688
      ],
      "id": "c88d94b8-0f0b-4d02-a360-0bd705925b13",
      "name": "Sort",
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v2.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        1328,
        144
      ],
      "id": "65640a91-41e3-4c31-9ce8-6eaf646cc8cd",
      "name": "Embeddings Cohere1"
    },
    {
      "parameters": {
        "modelName": "rerank-multilingual-v3.0",
        "topN": 5
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        1728,
        192
      ],
      "id": "3a4fd036-d0b6-4e19-8b8e-192d0e98954b",
      "name": "Reranker Cohere"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v2.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        800,
        2160
      ],
      "id": "080fea9f-d87d-4f02-8376-9612ca29c958",
      "name": "Embeddings Cohere",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        736,
        160
      ],
      "id": "37fccd9f-83f9-4a84-adc4-6b1f50607764",
      "name": "Cohere Chat Model"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=doc_file",
        "options": {
          "joinPages": false,
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        800,
        1504
      ],
      "id": "4f60019f-4b71-439b-891c-5bb36f2f5504",
      "name": "Extract from File1",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "org",
          "mode": "list",
          "cachedResultName": "org"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1056,
        1296
      ],
      "id": "d700d1bb-a68c-4df2-b1a1-aa7b09a33712",
      "name": "Pinecone Vector Store2",
      "disabled": true
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "filename",
                "value": "={{ $('Code in JavaScript1').item.json.fileName }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1152,
        1520
      ],
      "id": "5f034e93-ab4a-4e71-8df8-b2c7c663ba9a",
      "name": "Default Data Loader1",
      "disabled": true
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1232,
        1728
      ],
      "id": "dca92d9f-9876-4308-ab64-18bcd62c6719",
      "name": "Recursive Character Text Splitter1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4",
          "mode": "list",
          "cachedResultName": "AI_Knowledge_Base_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FileName": "={{ $json.fileName }}",
            "UploadTime": "={{ $now }}",
            "Status": "Active"
          },
          "matchingColumns": [
            "FileName"
          ],
          "schema": [
            {
              "id": "FileName",
              "displayName": "FileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UploadTime",
              "displayName": "UploadTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        1696
      ],
      "id": "44fc5af9-ba36-409c-a34c-658ca0e3c62a",
      "name": "Append or update row in sheet1",
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v2.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        1024,
        1520
      ],
      "id": "495a29e1-663e-4106-af96-bccaa11132f3",
      "name": "Embeddings Cohere2",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const items = [];\nconst binaryData = $input.item.binary;\n\n// 遍歷所有以 doc_file_ 開頭或編號的二進位欄位\nfor (const key of Object.keys(binaryData)) {\n  items.push({\n    json: { \n      // 保留原始檔名，這對後續寫入試算表與 Pinecone Metadata 至關重要\n      fileName: binaryData[key].fileName \n    },\n    binary: {\n      // 強制將所有檔案重新命名為 doc_file，對齊後方節點設定\n      doc_file: binaryData[key]\n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        1600
      ],
      "id": "fcff3644-6449-4547-8373-325a074aa385",
      "name": "Code in JavaScript1",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        352,
        1600
      ],
      "id": "df293cb8-bced-4aa0-9ad3-d411f8493210",
      "name": "複數上傳文件至RAG向量資料庫",
      "webhookId": "3855c0f4-19ce-4846-9e00-10cc8fc248a0",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        352,
        2240
      ],
      "id": "a383c36a-0be4-4fe0-a733-8d96dcb99def",
      "name": "單件上傳文件到RAG向量資料庫",
      "webhookId": "320faa48-2221-401a-b4ef-d656041af591",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        352,
        2672
      ],
      "id": "f3b08c03-8570-4b2e-af7d-31a78203bc8d",
      "name": "移除rag資料庫內容",
      "webhookId": "9480be71-fa67-4190-b49b-c8e098b1b586",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data",
        "options": {
          "joinPages": false,
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1472,
        576
      ],
      "id": "83bfe921-a6a0-45a3-a41e-b72edb9c62ae",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "org",
          "mode": "list",
          "cachedResultName": "org"
        },
        "embeddingBatchSize": 80,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2352,
        480
      ],
      "id": "3f9ca233-14b0-4e6b-bd8c-30d3ef7d74b1",
      "name": "Pinecone Vector Store3"
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "filename",
                "value": "={{ $('Code in JavaScript2').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2496,
        720
      ],
      "id": "259b0f46-a551-4d79-a65d-5eff3de83124",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2512,
        896
      ],
      "id": "1547f1e8-216a-4de4-9d59-6300f8f1c5a4",
      "name": "Recursive Character Text Splitter2"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v2.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        2336,
        736
      ],
      "id": "096692c2-889b-47d8-9320-5cfb160972c9",
      "name": "Embeddings Cohere3"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1248,
        672
      ],
      "id": "de936c20-02c4-4bfe-99f7-94b56ed4ff8f",
      "name": "Download file"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4",
          "mode": "list",
          "cachedResultName": "AI_Knowledge_Base_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit#gid=0"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        3088
      ],
      "id": "01f32d53-e531-4c30-a710-b0716af7cfa7",
      "name": "Get row(s) in sheet2",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1024,
        3088
      ],
      "id": "8b33e7cb-4292-4345-96fa-bcfea9860a4c",
      "name": "Form1",
      "webhookId": "006f023d-682f-47d8-8416-0c3d4dea8b05",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return {\n  file_list: $('Get row(s) in sheet2').all().map(item => {\n    return {\n      name: item.json.FileName,\n      value: item.json.FileName\n    };\n  }).filter(i => i.name)\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        3088
      ],
      "id": "adf4e6c5-328d-4c16-94a7-9c39bebecb46",
      "name": "Code in JavaScript3",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://org-j25gw89.svc.aped-4627-b74a.pinecone.io/vectors/delete",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"namespace\": \"\", \n  \"filter\": {\n    \"filename\": { \n      \"$in\": {{ JSON.stringify($json[\"請勾選要刪除的檔案\"]) }} \n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1248,
        2992
      ],
      "id": "e8cdf88c-e55f-441b-8a77-cb763155b841",
      "name": "HTTP Request1",
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "['請勾選要刪除的檔案']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1248,
        3184
      ],
      "id": "fba18e6e-1a1d-43a5-b579-3debfdaf58a1",
      "name": "Split Out1",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4",
          "mode": "list",
          "cachedResultName": "AI_Knowledge_Base_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "FileName",
              "lookupValue": "={{ $json['[\\'請勾選要刪除的檔案\\']'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        3184
      ],
      "id": "51a01ed9-ad83-49d0-8773-8e5f070b8b03",
      "name": "Get row(s) in sheet3",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4",
          "mode": "list",
          "cachedResultName": "AI_Knowledge_Base_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit#gid=0"
        },
        "startIndex": "={{ $json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2144,
        3184
      ],
      "id": "457722eb-84c1-4471-94e6-01b6d16fdffe",
      "name": "Delete rows or columns from sheet1",
      "disabled": true
    },
    {
      "parameters": {
        "batchSize": 10000,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1696,
        3184
      ],
      "id": "55deef03-347a-4ea0-803a-f83198c49ff4",
      "name": "Loop Over Items1",
      "disabled": true
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "row_number",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1920,
        3104
      ],
      "id": "a1a7b742-7423-42d5-9319-937a257247e8",
      "name": "Sort1",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        352,
        3088
      ],
      "id": "016d3aa1-15be-4556-9a82-91741472faf0",
      "name": "移除rag資料庫內容1",
      "webhookId": "9c95ba8d-1f4a-4568-b565-8a5e040ca44c",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": ".pdf",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1EJtNjVBNEFtH4W7_I2kM5z66KUpRwnQv",
            "mode": "list",
            "cachedResultName": "orggg_test",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1EJtNjVBNEFtH4W7_I2kM5z66KUpRwnQv"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        576,
        768
      ],
      "id": "316b0ff9-acaa-400a-b8e1-1e38fd3c88fc",
      "name": "Search files and folders"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4",
          "mode": "list",
          "cachedResultName": "AI_Knowledge_Base_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        960
      ],
      "id": "90c789ad-1802-4654-872b-91c499c25fb0",
      "name": "Get row(s) in sheet4",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// 1. 抓取所有 Google Drive 的檔案 (假設節點名稱為 Google Drive Trigger)\nconst driveFiles = $(\"Search files and folders\").all();\n\n// 2. 抓取所有 Google Sheets 的紀錄 (假設節點名稱為 Get row(s) in sheet)\nconst sheetRows = $(\"Get row(s) in sheet4\").all();\n\n// 3. 將試算表中的檔名建立成一個 Set (提高比對效率)\nconst existingFileNames = new Set(sheetRows.map(row => row.json.FileName));\n\n// 4. 過濾：只保留「檔名不在試算表裡」的檔案\nreturn driveFiles.filter(file => !existingFileNames.has(file.json.name));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        672
      ],
      "id": "162858c9-d42a-4ca3-ba3e-fbad81c8ec86",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        800,
        864
      ],
      "id": "eb41cdf4-dd5c-4138-b24d-6b7716ac06d2",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4",
          "mode": "list",
          "cachedResultName": "AI_Knowledge_Base_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FileName": "={{ $json.name }}",
            "UploadTime": "={{ $now }}",
            "Status": "Active"
          },
          "matchingColumns": [
            "FileName"
          ],
          "schema": [
            {
              "id": "FileName",
              "displayName": "FileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UploadTime",
              "displayName": "UploadTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        784
      ],
      "id": "00885952-874f-4824-9649-083966c0a2e4",
      "name": "Append or update row in sheet2"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1EJtNjVBNEFtH4W7_I2kM5z66KUpRwnQv",
          "mode": "list",
          "cachedResultName": "orggg_test",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1EJtNjVBNEFtH4W7_I2kM5z66KUpRwnQv"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        352,
        864
      ],
      "id": "ab345c4a-46ea-46ea-ba5b-e913f6e36755",
      "name": "監聽雲端硬碟資料夾加新增移除資料到rag資料庫",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 1. 抓取雲端硬碟目前的檔案 (假設節點名稱為 Download file)\nconst driveFiles = $(\"Search files and folders\").all();\n\n// 2. 抓取試算表目前的紀錄 (假設節點名稱為 Get row(s) in sheet4)\nconst sheetRows = $(\"Get row(s) in sheet4\").all();\n\n// 3. 建立雲端硬碟現有檔名的集合 (提高搜尋速度)\nconst currentDriveFileNames = new Set(driveFiles.map(file => file.json.name));\n\n// 4. 過濾：保留「在試算表裡，但不在雲端硬碟中」的紀錄\nconst missingFromDrive = sheetRows.filter(row => !currentDriveFileNames.has(row.json.FileName));\n\n// 5. 回傳結果，這將作為後續 Pinecone 刪除節點的輸入\nreturn missingFromDrive;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        976
      ],
      "id": "a832f896-4237-4839-a127-68e0d64b9fbf",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://org-j25gw89.svc.aped-4627-b74a.pinecone.io/vectors/delete",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"namespace\": \"\", \n  \"filter\": {\n    \"filename\": { \n      \"$in\": [ \"{{ $json.FileName }}\" ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1248,
        880
      ],
      "id": "c99b8494-d340-4195-a673-739d0f051c29",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "FileName",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1248,
        1072
      ],
      "id": "de682299-1558-42c8-b1b6-c5568258220f",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4",
          "mode": "list",
          "cachedResultName": "AI_Knowledge_Base_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "FileName",
              "lookupValue": "={{ $json.FileName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        1072
      ],
      "id": "2066eb43-7d31-4668-8998-4df8c62cce4a",
      "name": "Get row(s) in sheet5"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4",
          "mode": "list",
          "cachedResultName": "AI_Knowledge_Base_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iBxDSGe_S6zKOOv-0FMIIj790enDwaNECMZNF8U8Mk4/edit#gid=0"
        },
        "startIndex": "={{ $json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2416,
        1072
      ],
      "id": "6a8070e3-0f11-4d1c-9458-55472d9c0d3a",
      "name": "Delete rows or columns from sheet2"
    },
    {
      "parameters": {
        "batchSize": 10000,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1808,
        1024
      ],
      "id": "e37c7dde-9bb0-416a-9be1-87c320acca56",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "row_number",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        2160,
        1072
      ],
      "id": "a46cf1b0-a7f2-492e-b3b3-2ab56ae44927",
      "name": "Sort2"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "org",
        "embeddingBatchSize": 80,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1872,
        432
      ],
      "id": "077091ec-661a-49a4-96c1-3101741bd778",
      "name": "Postgres PGVector Store"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v2.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        1856,
        656
      ],
      "id": "b3011f43-b6de-45ad-8f3d-8d5c1a3fe0d6",
      "name": "Embeddings Cohere4"
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2016,
        640
      ],
      "id": "2f650874-e2fa-407e-931f-f7f3a183f6bd",
      "name": "Default Data Loader3"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2064,
        768
      ],
      "id": "0ba65217-43fe-4b14-a1cb-683ea96efbbd",
      "name": "Recursive Character Text Splitter3"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "當使用者詢問相關問題時，請搜尋此工具。",
        "topK": 10,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1088,
        272
      ],
      "id": "eed0e6f6-465e-4f4f-a13f-119278d346ff",
      "name": "Postgres PGVector Store1"
    },
    {
      "parameters": {
        "modelName": "rerank-multilingual-v3.0",
        "topN": 5
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        1216,
        480
      ],
      "id": "1e4d3345-eb9e-46f4-aa8a-4b473b5a4194",
      "name": "Reranker Cohere1"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v2.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        1072,
        464
      ],
      "id": "a590c3ea-47b5-43fd-a4fa-2eaa776cd21a",
      "name": "Embeddings Cohere5"
    }
  ],
  "pinData": {
    "Sort2": [
      {
        "json": {
          "row_number": 4,
          "FileName": "nsf-cv.pdf",
          "UploadTime": "2026-01-30T15:15:28.799+08:00",
          "Status": "Active"
        }
      },
      {
        "json": {
          "row_number": 3,
          "FileName": "my.pdf",
          "UploadTime": "2026-01-30T15:15:28.798+08:00",
          "Status": "Active"
        }
      },
      {
        "json": {
          "row_number": 2,
          "FileName": "123.pdf",
          "UploadTime": "2026-01-30T15:15:28.797+08:00",
          "Status": "Active"
        }
      }
    ]
  },
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter2": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere3": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "監聽雲端硬碟資料夾加新增移除資料到rag資料庫": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet5": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Sort2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort2": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere4": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader3": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter3": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader3",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere1": {
      "ai_reranker": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere5": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "09daefef-ed32-46d2-93a8-4a442a08b03d",
  "meta": {
    "instanceId": "3a386ba3a727f3c4fd25dd6863ceec92a2f559a999906acd51f5a2102a6496d6"
  },
  "id": "Vst5ThLnGjjpaaUs",
  "tags": []
}